.textbox{
margin : 5px;
height: 30px;
width:250px;
}

.button{
padding: 3px;
margin: 0px;
background-color: transparent;
border: none;
}

.button-pressed {
color: black;
}

.button-unpressed {
color: gray;
}
.unClickable{
background-color: pink;
color: red;
}
.err{
color:red;
}

.content-div{
display:flex;
flex-direction: column;
align-items:left;
margin-top: 0px;
margin-left: 200px;
}